body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
header {
    display: flex;
    background-color: rgb(210, 208, 204);
    position:sticky;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
}
.profile_pic {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_pic>img{
    height: 50px;
    width: 55px;
}
.navbar {
    width: 75%;
}
.ul_navbar {
display: flex;
flex-direction: row;
gap: 50px;
justify-content: end;
margin: 25px;
}
.ul_navbar>li{
    list-style-type: none;
    justify-content: space-evenly;
}
.ul_navbar>li>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main {
    display: flex;
}
.links {
    width: 25%;
    height: 100%;
    background-color: rgb(196, 117, 117);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12%;
    padding-top: 4%;
    overflow-y: scroll;
}
.links a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.links a:hover {
    color: rgb(220, 220, 161);
}
.main_content {
    width: 75%;
    height: 100%;
    margin-left: 25%;
    padding: 30px 50px;
    line-height: 25px;
}
.main_content h3 {
    color: brown;
}
.main_content .div_space {
    padding: 20px 0;
}
.main_content .para_indent {
    text-indent: 50px;
}
.education_table {
    padding: 10px; 
    width: 100%;
    text-align: center;
}
.education_table tr>th,td {
    padding: 10px;
}
.dot {
    margin-left: 3px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dark {
    background-color: #383737;
}
.language {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.language h4, p {
    margin: 0;
}
footer {
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: #252323;
    color: white;
    margin: auto;
    padding: 30px 50px;
    text-align: center;
}
.icon_wrapper {
    display: inline-block;
    padding: 10px 30px;
}
.icon_wrapper a{
    text-decoration: none;
    color: white;
}
.icon_wrapper h2 {
    color: rgb(220, 220, 161);
}